* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detailsform input,
select,
button {
  display: block;
  width: 100%;
  height: 40px;
  


}

.detailsform button {
  background-color: #002D61;
  color: white;
  border-radius: 5px;
}

.forminput {
  position: relative;
  margin-top: 20px;
  padding: 0 10px;

}

.formpage {
  background-color: white;
  width: 350px;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;

}


.sprite-image {
  width: 25px;
  height: 25px;
  background-image: url("https://c.myholidays.com/cms/images/theme/fb-sprite.png");
  position: absolute;
  left: 13px;
  top: 33px;
}

.user {
  background-position: -101px -39px;

}

.email {
  background-position: -75px -38px;

}

.country {
  background-position: -138px -16px;
}

.phone {
  background-position: -165px -16px;

} 


.detailsform input,
select{
  padding-left: 20px;
}

